<!--
Author: Yanisse
Jira Task: TMGP4-181, TMGP4-47, TMGP4-48, TMGP4-30, TMGP4-32, TMGP4-29
Description: Template for the view all tasks view.
-->
<div>
</div>
<div fxLayout="row wrap" fxLayout.xs="column wrap"  fxLayoutAlign="center center" fxLayoutGap="15px grid">
	<!-- <div *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]; let i = index"> --> 
	<div *ngFor="let task of tasks; let i = index">
		
		<mat-card>
			<mat-card-header>

				<div fxFlex="50">
					<mat-card-subtitle class="running-color" *ngIf="task.state == 'ACTIVE' "><b>Running</b></mat-card-subtitle>
					<mat-card-subtitle class="paused-color" *ngIf="task.state == 'PAUSED' "><b>Paused</b></mat-card-subtitle>
					<mat-card-title>{{task.name}}</mat-card-title>
					<mat-card-subtitle>{{task.description}}</mat-card-subtitle>
				</div>

				<div fxFlex="50" *ngIf="task.state == 'COMPLETED' ">
					<button mat-button color="primary" [disabled]="true">
						<mat-icon>done_outline</mat-icon> Completed
					</button>
				</div>

				<div fxFlex="50">
					<button mat-button (click)="openStartDialog(task.id, task.name)" color="primary" *ngIf="task.state == 'CREATED' ">
						<mat-icon>play_circle_filled</mat-icon> Start
					</button>
				</div>

				<div fxFlex="50" *ngIf="task.state == 'ACTIVE' ">
					<button mat-button (click)="openConfirmDialog(task.id, task.name, false)" color="primary">
						<mat-icon>pause_circle_outline</mat-icon> Pause
					</button>
				</div>

				<div fxFlex="50" *ngIf="task.state == 'PAUSED' ">
					<button mat-button (click)="openStartDialog(task.id, task.name)" color="primary">
						<mat-icon>play_circle_outline</mat-icon> Restart
					</button>
				</div>

				<div fxFlex="50" *ngIf="task.state == 'ACTIVE' || task.state == 'PAUSED'">
					<button mat-button (click)="openConfirmDialog(task.id, task.name, true)" color="primary">
						<mat-icon>done</mat-icon> Done
					</button>
				</div>

		  	</mat-card-header>
		  	<mat-card-content>
		  		<div fxLayout="column">

				  <div fxLayout="row" fxLayoutGap="15px">
				  	<div fxFlex="">
					    <mat-label class="label-color">Start Date</mat-label>
					</div>
					<div fxFlex="">
					    <mat-label class="label-color">Start Time</mat-label>
					</div>
				  </div>

				  <div fxLayout="row" fxLayoutGap="15px">
				  	<div fxFlex="">
					    <mat-label>{{task.scheduledstart | date:'mediumDate'}}</mat-label>
					</div>
					<div fxFlex="">
					    <mat-label>{{task.scheduledstart | date:'shortTime'}}</mat-label>
					</div>
				  </div>

				  <div><p></p></div>

				  <div fxLayout="row" fxLayoutGap="15px">
				  	<div fxFlex="">
					    <mat-label class="label-color">End Date</mat-label>
					</div>
					<div fxFlex="">
					    <mat-label class="label-color">End Time</mat-label>
					</div>
				  </div>

				  <div fxLayout="row" fxLayoutGap="15px">
				  	<div fxFlex="">
					    <mat-label>{{task.scheduledEnd | date:'mediumDate'}}</mat-label>
					</div>
					<div fxFlex="">
					    <mat-label>{{task.scheduledEnd | date:'shortTime'}}</mat-label>
					</div>
				  </div>

<!--					<button mat-raised-button color="primary">Start</button>-->

				</div>
		  	</mat-card-content>
		  	<mat-card-actions>
		    	<button mat-button (click)="openEditDialog(task.id, i)" *ngIf="task.state == 'CREATED' ">
		    		<mat-icon>edit</mat-icon>
		    	</button>
<!--		    	<button mat-button>-->
<!--		    		<mat-icon>share</mat-icon>-->
<!--		    	</button>-->
		    	<button mat-button (click)="openDeleteDialog(task.id, task.name)" *ngIf="task.state == 'CREATED' ">
		    		<mat-icon>delete</mat-icon>
		    	</button>
		 	</mat-card-actions>

		</mat-card>
	</div>
	<!--  <ul>
      <li *ngFor="let number of [0,1,2,3,4]">{{number}}</li>
    </ul> -->
</div>

<div>
 <button mat-fab color="primary" aria-label="New task" (click)="openDialog()" class="custom-button">
    <mat-icon class="header-text">add</mat-icon>
 </button>
</div>
