.example-spacer {
	flex: 1 1 auto;
}

.custom-button{
   right: 20px;
  bottom: 10px;
  left: auto;
  position:fixed !important;
}

.label-color {
	color:#673AB7 !important;
}

.running-color {
    background-color: #EEEEEE;
    color:#81C784 !important;
}

.paused-color {
    background-color: #EEEEEE;
    color:#FFAB40 !important;
}

.done-color {
    color:#673AB7 !important;
}
