<!--
Author: Yanisse
Jira Task: TBD
Description: Template for the homepage.
-->
<!--<div fxLayout="column" fxLayoutAlign="space-evenly none">-->
<!--&lt;!&ndash;        <img src="assets/img/tasks.jpg" alt="Task picture" height="300px"/>&ndash;&gt;-->
<!--    <div fxFlex="40" fxFlexOffset="20">-->

<!--    </div>-->
<!--</div>-->

<div fxLayout="column" fxLayoutAlign="center none" >
    <div class="active-task-background" fxFlex="100" >
        <p>
            Active Task
        </p>

        <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="15px grid">

            <div *ngFor="let task of activeTasks; let i = index">
                <mat-card *ngIf="task.state == 'ACTIVE' " >
                    <mat-card-header>
                        <mat-card-title>{{task.name}}</mat-card-title>
                        <mat-card-subtitle>{{task.category}}</mat-card-subtitle>
                        <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button>View More</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
        <p></p>
<!--        <img src="assets/img/time-management-clock.png" alt="Clock picture" width="100%"/>-->
    </div>

<!--    <div fxFlex="40" >-->
<!--        <div *ngFor="let task of tasks; let i = index">-->
<!--            <mat-card *ngIf="task.state == 'ACTIVE' " >-->
<!--                <mat-card-header>-->
<!--                    <mat-card-title>{{task.name}}</mat-card-title>-->
<!--                    <mat-card-subtitle>{{task.category}}</mat-card-subtitle>-->
<!--                    <mat-card-subtitle>{{task.description}}</mat-card-subtitle>-->
<!--                </mat-card-header>-->
<!--                <mat-card-actions>-->
<!--                    <button mat-button>View More</button>-->
<!--                </mat-card-actions>-->
<!--            </mat-card>-->
<!--        </div>-->
<!--    </div>-->

</div>

<div fxLayout="row" fxLayoutAlign="center none">
<!--        <img src="assets/img/time-management-clock.png" alt="Clock picture" width="100%"/>-->
        <div class="paused-task-background" fxFlex="100">
            <p>
                Paused Task(s)
            </p>

            <div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="15px grid">

                <div *ngFor="let task of pausedTasks; let i = index">
                    <mat-card *ngIf="task.state == 'PAUSED' " >
                        <mat-card-header>
                            <mat-card-title>{{task.name}}</mat-card-title>
                            <mat-card-subtitle>{{task.category}}</mat-card-subtitle>
                            <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-actions>
                            <button mat-button>View More</button>
                        </mat-card-actions>
                    </mat-card>
                </div>

            </div>
            <p></p>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="center none">
    <!--        <img src="assets/img/time-management-clock.png" alt="Clock picture" width="100%"/>-->
    <div class="created-task-background" fxFlex="100">
        <p>
            To-Do Task(s)
        </p>

        <div fxLayout="row wrap" fxLayoutAlign="center none"  fxLayoutGap="15px grid">
<!--            <cdk-virtual-scroll-viewport itemSize="50">-->
            <div *ngFor="let task of toDoTasks; let i = index">
                <mat-card *ngIf="task.state == 'CREATED' " >
                    <mat-card-header>
                        <mat-card-title>{{task.name}}</mat-card-title>
                        <mat-card-subtitle>{{task.category}}</mat-card-subtitle>
                        <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button>View More</button>
                    </mat-card-actions>
                </mat-card>
            </div>
<!--            </cdk-virtual-scroll-viewport>-->

        </div>
        <p></p>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="center none">
    <!--        <img src="assets/img/time-management-clock.png" alt="Clock picture" width="100%"/>-->
    <div class="completed-task-background" fxFlex="100">
        <p>
            Completed Task(s)
        </p>

        <div fxLayout="row wrap" fxLayoutAlign="center none"  fxLayoutGap="15px grid">

            <div *ngFor="let task of completedTasks; let i = index">
                <mat-card *ngIf="task.state == 'COMPLETED' " >
                    <mat-card-header>
                        <mat-card-title>{{task.name}}</mat-card-title>
                        <mat-card-subtitle>{{task.category}}</mat-card-subtitle>
                        <mat-card-subtitle>{{task.description}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button>View More</button>
                    </mat-card-actions>
                </mat-card>
            </div>

        </div>
        <p></p>
    </div>

</div>
