<h1 class="header-text"> Meet the Time Helper team</h1>
<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutAlign="space-around center" fxLayoutGap="15px grid">
    <div fxFlex="20">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Asma Husna</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Developer - Frontend </li>
                    <li> Architect </li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="20">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Bashiir Mohamed</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Developer - Backend </li>
                    <li> Architect </li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="20">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Leonel Chavarria</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Quality Assurance </li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="20">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Qi Zhang</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Developer - Backend</li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="20">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Scott Weiss</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Scrum Master </li>
                    <li> Product Owner </li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex="20">

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"> <mat-icon >category</mat-icon> </div>
                <mat-card-title>Yanisse Rodriguez</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <li> Developer - Frontend</li>
                </p>
                <p> </p>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<!--<div>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>-->
