mat-form-field {
  width: 400px;
}
mat-card-title {
  text-align: center;
}
.create-category {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  /*text-shadow: 1px 1px 6px #000;*/
  color:#673AB7 !important;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.text-button {
  color: white !important;
}
