.header-text{
	color: #FFFFFF !important;
	//font-color: #FFFFFF !important;
}

.mat-flat-button{
   color: white !important;
 }

.toolbar-spacer {
    flex: 1 1 auto;
}

.meet-button {
    background-color: white;
}
